*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 30px;
    background:linear-gradient(rgb(114, 114, 244),purple);
}

.box{
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 10px;
    display: flex;
    column-gap: 30px;
    padding: 30px;
}

.left{
    background-color: white;
    height: 100%;
    width: 50%;
    border-radius: 10px;
}

.right{
    background-color: transparent;
    height: 100%;
    width: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.upper{
    background-color: white;
    height: 50%;
    width: 100%;
    border-radius: 10px;
}

.lower{
    background-color: transparent;
    height: 50%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    column-gap: 30px;
}

.left1{
    background-color: transparent;
    height: 100%;
    width: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.section{
    background-color: white;
    height: 50%;
    width: 100%;
    border-radius: 10px;
}

.right1{
    background-color: white;
    height: 100%;
    width: 50%;
    border-radius: 10px;
}